<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <CoverageFileName>coverage.cobertura.xml</CoverageFileName>
          <IncludeTestAssembly>False</IncludeTestAssembly>

          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*[\\/]LiteCDF\.dll$</ModulePath>
              </Include>
            </ModulePaths>

            <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>